@model WebApp.Models.Categoria

@{
    ViewData["Title"] = "Agregar Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-cascade view view-cascade gradient-card-header blue  narrower py-2 mb-3 d-flex justify-content-between align-items-center">
    <h2 class="white-text mx-3">Categorias</h2>
    <a asp-action="HomeCategorias" class="white-text"><i class="fas fa-plus-circle fa-lg mr-2"></i>Volver al Listado...</a>
</div>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="addCategorias" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Categoria" class="btn btn-outline-success btn-block" />
            </div>
        </form>
    </div>
</div>

